@model IEnumerable<Studoc.Models.Proyecto>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Mis Proyectos</title>
    <link rel="stylesheet" href="~/css/IndexProyecto.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/019078dbc4.js" crossorigin="anonymous"></script>
</head>
<body>
    <a asp-action="CrearProyecto">
        <button type="button" class="boton-crear">+ Crear Proyecto</button>
    </a>

    <div class="card-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-body">
                    @if (!string.IsNullOrEmpty(item.ruta_img))
                    {
                        <a asp-action="Publicacion" asp-route-id="@item.ID"><img src="@item.ruta_img" alt="Imagen de Proyecto" class="card-image" /></a>
                    }
                    <div class="card-options">
                        <div class="card-header">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i class="fas fa-ellipsis-v"></i> <!-- Ícono de tres puntos verticales -->
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="EditProyecto" asp-route-id="@item.ID">Editar</a></li>
                                    @if (User.IsInRole("Administrador"))
                                    {
                                        <li><a asp-action="Delete" asp-route-id="@item.ID">Borrar</a></li>
                                    }    
                                    <li><a asp-action="EditPublicacion" asp-route-id="@item.ID">Editar Publicación</a></li>
                                </ul>
                            </div>
                        </div>
                        <h5 class="card-content">@Html.DisplayFor(modelItem => item.Semestre)</h5>
                    </div>
                </div>
            </div>
        }
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-toggle').on('click', function () {
                $(this).next('.dropdown-menu').toggle();
            });
        });
    </script>
</body>
</html>